.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    .topic{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 20px 50px;
        padding-bottom: 20px;
        border-bottom: 2px solid #4e799f;
        span{
            font-family: 'Roboto', sans-serif;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    .sections-container{
        margin: 0 50px;
        display: flex;
        flex-wrap: wrap;
        .section{
            margin: 20px;
            flex: 1 1 200px;
            max-width: 200px;
            header{
                padding: 10px 0;
                font-size: 24px;  
                font-family: 'Roboto', sans-serif;
                color: rgba(0,0,0,.84);
                margin-left: 0;
                word-break: break-all;
                text-transform: uppercase;
                cursor: pointer;
                &:hover {
                    color: #4e799f;
                    text-decoration: underline;
                }
            }
            div{
                margin: 10px 0;
                color: rgba(0, 0, 0, .72);
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                span{
                    color: #4e799f;
                }
            }
            footer{
                color: rgba(0, 0, 0, .72);
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
            }
        }
    }
}