<div class="container">
  <div class="topic">
    <span>Топик</span>
  </div>
  <div class="sections-container">
    <div *ngFor="let section of section$ | async" class="section">
        <header>
          {{section.title}}
        </header>
        <div>
           Постов: <span>{{section.posts.length}}</span>
        </div>
        <footer>
          {{section.dateAdd | date}}
        </footer>
    </div>
  </div>
  <ng-container *ngIf="(notAddedSections$ | async).length">
      <div class="topic">
          <span>не добавленные</span>
        </div>
        <div class="sections-container">
            <div *ngFor="let notaddedSection of notAddedSections$ | async" class="section">
                <header>
                  {{notaddedSection.title}}
                </header>
                <div>
                   Постов: <span>{{notaddedSection.posts.length}}</span>
                </div>
                <footer>
                  {{notaddedSection.dateAdd | date}}
                </footer>
            </div>
        </div>
  </ng-container>
</div>