.main_container{
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    flex: 1200px 1 1;
    justify-content: center;
    margin: auto;
    app-header{
        position: sticky;
        top: 0;
        background: white;
        z-index: 99;
    }
}