
header {
    display: flex;
    position: relative;
    z-index: 999;
    background-color: white;
    align-items: center;
    margin-top: 10px;
    .logo{
        cursor: pointer;
        margin-right: auto;
        text-transform: uppercase;
        padding: 10px;
        img{
          width: 200px
        }
    }
    .signin, .signup{
        align-self: flex-end;
        margin-bottom: 10px;
        margin-right: 20px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 28px;
        color: #173046;
    }
    .name{
        height: 50px;
        width: 50px;
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        position: relative;
        span{
            color: #4e799f;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 28px;
        }
    }
}
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.menu {
    width: 230px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 2px;
    transition: 0.3s;
    position: absolute;
    top: 75px;
    display: none;
    left: calc(-140% - 111px);
    flex-direction: column;
    justify-content: center;
    &::before{
       content: '';
       width: 20px;
       height: 20px;
       position: absolute;
       left: calc(90% - 10px);
       top: -10px;
       transform: rotate(45deg);
       box-shadow: 0 0 5px rgba(0,0,0,.3);
       background: white;
       transition: .3s;
    }
    .menu__child{
        position: relative;
        z-index: 2;
        padding: 10px;
        padding-right: 20px;
        text-align: center;
        background: white;
        cursor: pointer;
        span {
            outline: none;
            color: #173046;
            font-family: 'Roboto', sans-serif;
            font-size: 20px;        
        }
        &:hover span{
           color: #4e799f;
        }
    }
}
.display_menu{
    display: flex;
}
.display_overlay{
    display: block;
}
.hide_overlay{
    display: none;
}