<header #header>
  <a  routerLink="/" class="logo">
    <img src="../../../assets/img/logo.png">
  </a>
  <span *ngIf="!(user$ | async).loading.status && !(user$ | async).name" class="signin title_24_500" (click)="loginDialog()" >Войти</span>
  <div 
  *ngIf="!(user$ | async).loading.status && (user$ | async).name"
  (click)="toggleMenu = !toggleMenu"   
  class="name" >
    <span>
      {{(user$ | async).name.slice(0,1)}}
    </span>
    <div #toggleMenuRef class="menu" [ngClass]="toggleMenu ? 'display_menu': 'hide_menu'" (click)="toggleMenu = !toggleMenu">
        <div *ngIf="(user$ | async).ruls" class="menu__child" (click)="toggleMenu = false">
          <span routerLink="/adminlist">Администрирование</span>
        </div>
        <div class="menu__child" (click)="toggleMenu = false">
            <span routerLink="/new/post">Новый пост</span>
          </div>
        <div class="menu__child" (click)="signout()" >
          <span>Выйти</span>
        </div>
      </div>
  </div>
</header>
<div class="overlay" #overlay [ngClass]="toggleMenu ? 'display_overlay': 'hide_overlay'"></div>

