<ng-container *ngIf="show">
    <div class="main">
        <div class="pages">
                <span class="pages">постов {{data.postsOnPage}} из {{data.totalPosts}}</span>
        </div>
        <div class="pages">
            <span class="pages">страница {{data.page}} из {{data.totalPages}}</span>
        </div>
        <div class="navigate">
                <mat-icon (click)="prev()">arrow_back_ios</mat-icon>
                <mat-icon (click)="next()">arrow_forward_ios</mat-icon>
        </div>
    </div>
</ng-container>