.main{
    display: flex;
    align-items: center;
    padding: 18px;
    position: fixed;
    bottom: 0;
    background: white;
    .pages{
        &:nth-child(2){
            margin-left: 40px;
        }
        span{
            text-decoration: underline;
            text-transform: uppercase;
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            color: #4e799f !important;
        }
    }
    .navigate{
        display: flex;
        width: fit-content;
        justify-content: space-around;
        margin-left: auto;
        mat-icon{
            margin: 0 10px;
            width: fit-content;
            height:  fit-content;
            cursor: pointer;
            color: #4e799f;
        }
    }
}