.container{
    display: flex;
    margin: auto;
    max-width: 1000px;
    min-width: 400px;
    flex-direction: column;
    .options{
        padding: 10px;
        margin: auto;
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        .section-select{
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            margin-bottom: 20px;
            span{
                min-width: 200px;
                font-family: "Roboto";
                color: rgba(0, 0, 0, 0.5);
                font-size: 24px;
            }
            .input-sections{
                position: relative;
                margin: 0 10px;
                input{
                    text-align: center;
                    width: 200px;
                    outline: none;
                    border: 0;
                    border-bottom: 1px solid #4e799f;
                    font-family: "Roboto";
                    color: #4e799f;
                    font-size: 24px;
                }
                .select-container{
                    z-index: 3;
                    background: white;
                    position: absolute;
                    top:30px;
                    width: 200px;
                    height: 200px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
                    .section{
                        cursor: pointer;
                        width: 100%;
                        padding: 10px 3px;
                        span{
                            font-family: "Roboto";
                            color: rgba(0, 0, 0, 0.5);
                            font-size: 24px;
                        }
                        &:hover{
                            background-color: rgba(0, 0, 0, .1);
                        }
                    }
                }
            }
            .new-section{
                position: relative;
                button{
                    outline: none;
                    border: 0;
                    border-radius: 3px;
                    padding: 10px;
                    background: #4e799f;
                    text-align: center;
                    color: white;
                    font-family: sans-serif;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                    &:active{
                        box-shadow: inset 0 0 5px white;
                    }
                    &[disabled]{
                        opacity: .5;
                    }
                }
                .new-section-container{
                    background: white;
                    top: 48px;
                    z-index: 99;
                    left: calc(-50% - 35px);
                    position: absolute;
                    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
                    padding: 10px;
                    width: fit-content;
                    height: fit-content;
                    display: flex;
                    flex-direction: column;
                    input{
                        text-align: center;
                        width: 200px;
                        outline: none;
                        border: 0;
                        border-bottom: 1px solid #4e799f;
                        font-family: "Roboto";
                        color: #4e799f;
                        font-size: 24px;
                    }
                    button{
                        outline: none;
                        border: 0;
                        border-radius: 3px;
                        padding: 10px;
                        background: #4e799f;
                        margin-top: 10px;
                        text-align: center;
                        color: white;
                        font-family: sans-serif;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                        cursor: pointer;
                        &:active{
                            box-shadow: inset 0 0 5px white;
                        }
                        &[disabled]{
                            opacity: .5;
                        }
                    }
                }
            }
        }
        .email-container{
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            .email-list{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                min-height: 40px;
                max-width: 400px;
                .email{
                    margin-bottom: 5px;
                    margin-right: 10px;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-radius: 5px;
                    padding: 5px;
                    font-family: "Roboto";
                    font-size: 14px;
                    color: #4e799f;
                    box-shadow: 0 0 3px rgba(0,0,0,.3);
                }
            }
            .email-add{
                display: flex;
                input{
                    flex: 1 1 70%;
                    outline: none;
                    border: 0;
                    border-bottom: 1px solid #4e799f;
                    font-family: "Roboto";
                    color: #4e799f;
                    font-size: 24px;
                }
                button{
                    margin-left: 10px;
                    flex: 1 1 30%;
                    outline: none;
                    border: 0;
                    border-radius: 3px;
                    padding: 10px;
                    background: #4e799f;
                    margin-top: 10px;
                    text-align: center;
                    color: white;
                    font-family: sans-serif;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                    &:active{
                        box-shadow: inset 0 0 5px white;
                    }
                    &[disabled]{
                        opacity: .5;
                    }
                }
            }
        }
        .ruls{ 
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            margin-bottom: 20px;
            span{
                min-width: 200px;
                font-family: "Roboto";
                color: rgba(0, 0, 0, 0.5);
                font-size: 24px;
            }
            .input-sections{
                position: relative;
                margin: 0 10px;
                input{
                    text-align: center;
                    width: 200px;
                    outline: none;
                    border: 0;
                    border-bottom: 1px solid #4e799f;
                    font-family: "Roboto";
                    color: #4e799f;
                    font-size: 24px;
                }
                .ruls-select{
                    z-index: 2;
                    background: white;
                    position: absolute;
                    top:30px;
                    width: 200px;
                    height: 200px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
                    .section{
                        cursor: pointer;
                        width: 100%;
                        padding: 10px 3px;
                        span{
                            font-family: "Roboto";
                            color: rgba(0, 0, 0, 0.5);
                            font-size: 24px;
                        }
                        &:hover{
                            background-color: rgba(0, 0, 0, .1);
                        }
                    }
                }
            }
        }
        .show-comment{
            display: flex;
            align-items: center;
            span{
                min-width: 200px;
                font-family: "Roboto";
                color: rgba(0, 0, 0, 0.5);
                font-size: 24px;
            }
            .checkbox{
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                border-radius: 16px;
                box-shadow: 0 0 3px rgba(0, 0, 0, .3);
            }
        }
    }
    .post{
        padding: 10px;
        max-width: 1000px;
        margin: auto;
        margin-top: 50px;
        min-width: 400px;
        width: 100%;
        .title{
            padding-left: 10px;
            border-left: 2px solid #4e799f;
            input{    border: 0;
                display: flex;
                align-items: center;
                outline: none;
                width: 100%;
                font-family: "Roboto";
                color: rgba(0, 0, 0, 0.5);
                font-size: 34px;
            }
        }
        .post-main{
           
            .rows{
                border-left: 2px solid #4e799f;
                outline: none;
                font-family: "Roboto";
                color: rgba(0, 0, 0, 0.5);
                font-size: 24px;
                padding: 10px;
            }
        }
    }
}
.checked{
    background-color: rgba(0, 0, 0, .1);
}
.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.btn{
    outline: none;
    border: 0;
    border-radius: 3px;
    padding: 10px;
    background: #4e799f;
    text-align: center;
    color: white;
    font-family: sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    &:active{
        box-shadow: inset 0 0 5px white;
    }
    &[disabled]{
        opacity: .5;
    }
}