<div class='overlay' #overlay [style.display]="overlayShow ? 'block' : 'none'"></div>
<div class='container'>
  <div class='options'>
    <div class='section-select'>
        <span>Выбрать раздел</span>
        <div class="input-sections">
          <input (input)="changeInputSections($event.target.value)" (click)="showSectionList()" #sectionInput>
          <div class="select-container" *ngIf='sectionList'>
            <div [class.checked]="section.checked" class="section" *ngFor="let section of (sections$ | async)" (click)="checkSection(section, sectionInput)">
              <span>{{section.title}}</span>
            </div>
          </div>
        </div>
        <div class="new-section">
          <button (click)="showAddDialog()">Новый</button>
          <div class="new-section-container" *ngIf="addSectionDialog">
            <input #inputNewSection>
            <button (click)="showAddDialog(inputNewSection)">Добавить</button>
          </div>
        </div>
    </div>
    <div class="ruls">
      <span>Право просмотра</span>
      <div class="input-sections">
          <input #inputRuls (click)="showRulsList()">
          <div class='ruls-select' *ngIf='rulsList'>
              <div [class.checked]="type.checked" class="section" *ngFor="let type of ruls.types" (click)="checkRuls(type, inputRuls)">
              <span>{{type.title}}</span>
              </div>
          </div>
      </div>
    </div>
    <div *ngIf="saveData.ruls === 3" class="email-container">
      <div class='email-list'>
          <span *ngFor="let email of saveData.email" class="email">{{email}}</span>
      </div>
      <div class="email-add">
          <input #emailInput>
          <button (click)="addEmail()">Добавить</button>
      </div>
     
    </div>
    <div class='show-comment'>
      <span>Комментарии: </span>
      <div class='checkbox' (click)="saveData.showComments = !saveData.showComments">
        <mat-icon *ngIf="saveData.showComments">done</mat-icon>
      </div>
    </div>
  </div>
  <div class="post">
    <div class='title' #title>
      <input [(ngModel)]='saveData.title' name='title' placeholder="Title" >
    </div>
    <div class="post-main" #rowsContainer >
      <ng-container  *ngFor="let row of rows; let rowIndex = index">
          <p contenteditable="true" class="rows" placeholder="Title"
          (keydown)="newRow($event, rowIndex)"
          (keyup)="keyUp($event)"
          (click)="clearRow(rowIndex)">{{row}}
        </p>
      </ng-container>
    </div>
    <button class="btn" (click)=savePost()>
        Сохранить
    </button>
  </div>
</div>
