.main_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: sticky;
    top: 67px;
    background: white;
    z-index: 2;
    height: fit-content;
    .nav{
        display: flex;
        flex: 0 0 80%;
        justify-content: center;
        flex-wrap: wrap;
        div{
            border: 2px solid transparent;
            outline: none;
            text-transform: uppercase;
            font-family: sans-serif;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            color: #4e799f;
            white-space: nowrap;
            padding: 15px;
            max-height: fit-content;
        }
    }
    .arrow{
    position: relative;
    text-transform: uppercase;
    font-family: sans-serif;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #4e799f;
    line-height: 48px;
    background: white;
    padding: 0 10px;
    }
    .right_arrow{
        box-shadow: -10px -5px 10px 0px white;
        right: 0;
    }
    .left_arrow{
        left: 0;
    }
}

.checked{
    border-color: #4e799f !important;
}