<div class="main_container">
      <div *ngIf="(sections$ | async).sections.data.length" class="nav" #navPanel>
          <ng-container *ngFor="let section of (sections$ | async).sections.data">
            <div [class.checked]="section.checked"  [routerLink]="'/sections/' + section.id">
              {{section.title}}
            </div>
          </ng-container>
          <div routerLink="/sections">more</div>
      </div>
</div>
