<app-sections></app-sections>
<div *ngIf="post" class='container'>
  <div class='center'>
      <header class='center__header'>
          <div class="title">
            <h2>{{post.title}}</h2>
          </div>
          <div class="user-info">
            <div class='icon'>
              <span>{{post.creator.name.slice(0,1)}}</span>
            </div>
            <span class="name">{{post.creator.name}}</span>
          </div>
          <div class="date">
            {{post.dateAdd | date}}
          </div>
        </header>
        <div class='main'>
            <p *ngFor="let row of post.content;" class='row'>
              {{row}}
            </p>
        </div>
        <footer class="center__footer">
          <div class="comments" *ngFor="let comment of post.comments; let commentIndex = index">
            <div class="comment">
              <div class='delete' *ngIf="canDelete(commentIndex)" (click)="deleteComment(commentIndex)">
                <mat-icon>delete</mat-icon>
              </div>
              <div class='change' *ngIf="canEdit(commentIndex)" (click)="editCommet(commentIndex)">
                  <mat-icon>edit</mat-icon>
              </div>
              <header>{{comment.user.name}}</header>
              <div *ngIf="!editComment[commentIndex]" class="comment__content">{{comment.content}}</div>
              <div *ngIf="editComment[commentIndex]" class='add-comment'>
                <textarea #edit [value]="comment.content"></textarea>
                <button (click)="editCommet(commentIndex, edit)">Отправить</button>
              </div>
              <footer>{{comment.dateAdd | date}}</footer>
            </div>
          </div>
          <div *ngIf="post.showComment && user.id"  class="add-comment">
            <textarea #textarea></textarea>
            <button (click)="addComment(textarea)">Отправить</button>
          </div>
        </footer>
  </div>
</div>
