.container{
    max-width: 1000px;
    min-width: 400px;
    margin: auto;
    width: fit-content;
    .center{
        margin: auto;
        width: fit-content;
        min-width: 400px;
        margin: 10px;
        &__header{
            display: flex;
            flex-direction: column;
            border-bottom: 2px dashed #4e799f;
            padding-bottom: 20px;
            .title{
                font-family: 'Roboto', sans-serif;
                text-transform: uppercase;
                color: rgba(0,0,0,.84);
            }
            .user-info{
                display: flex;
                align-items: center;
                .icon{
                    width: 40px;
                    height: 40px;
                    border-radius: 22px;
                    background: #4e799f;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 2px solid white;
                    box-shadow: 0 0 0px 4px #4e799f;
                    span{
                        color: white;
                        font-family: 'Roboto-Bold', sans-serif;
                        text-transform: uppercase;
                        font-size: 30px;
                    }
                }
                .name{
                    margin-left: 20px;
                    font-family: 'Roboto', sans-serif;
                    size: 16px;
                    color: rgba(0,0,0,.84);
                }
            }
            .date{
                margin-top:20px;
                font-size: 16px;  
                font-family: 'Roboto', sans-serif;
                color: rgba(0,0,0,.84);
                text-transform: uppercase;
            }
        }
        .main{
            border-bottom: 2px dashed #4e799f;
            padding-bottom: 20px;
            .row{
                color: rgba(0, 0, 0, 0.72);
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
                &::first-letter{
                    font-size: 24px;
                    text-transform: uppercase;
                }
            }
        }
        &__footer{
            display: flex;
            position: relative;
            top: 0;
            margin-top: 20px;
            flex-direction: column;
            .comments{
                width: 100%;
                .comment{
                    position: relative;
                    width: 100%;
                    padding: 10px 0;
                    border-bottom: 2px dashed #4e799f;
                    .delete, .ban, .change{
                        position: absolute;
                        right: 0;
                        width: 16px;
                        height: 16px;
                        cursor: pointer;
                        mat-icon{
                            color: #4e799f;
                        }
                    }
                    .change{           
                        right: 30px;       
                    }
                    .ban{
                        right: 40px;
                    }
                    header{
                        color: #4e799f;
                        font-size: 18px;
                        font-family: 'Roboto', sans-serif;
                    }
                    &__content{
                        padding: 10px 0px;
                        color: rgba(0, 0, 0, 0.72);
                        font-size: 18px;
                        font-family: 'Roboto', sans-serif;
                    }
                    footer{
                        color: rgba(0, 0, 0, 0.5);
                        font-size: 12px;
                        font-family: 'Roboto', sans-serif;
                        text-transform: uppercase;
                    }
                }
            }
            .add-comment{
                margin: 20px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                textarea{
                    resize: none;
                    height: 60px;
                }
                button{
                    outline: none;
                    border: 0;
                    border-radius: 3px;
                    padding: 10px;
                    margin-top: 10px;
                    background: #4e799f;
                    text-align: center;
                    color: white;
                    font-family: sans-serif;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                    &:active{
                        box-shadow: inset 0 0 5px white;
                    }
                    &[disabled]{
                        opacity: .5;
                    }
                }
            }
        }
    }
}
.hide{
    display: none;
}