
<div class="form_container">
  <form class="form_container__form" [formGroup]="loginForm">
    <div class="form_container__form__email">
      <input type="email" autocomplete="off" placeholder="Email" formControlName="email">
      <ng-container *ngFor="let validation of validate.getValidationsProperty().email">
        <span class="input_erorr"
          *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched || loginError)">
          {{validation.message}}
        </span>
      </ng-container>
    </div>
    <div class="form_container__form__password">
      <input type="password" autocomplete="off" placeholder="Password" formControlName="password">
      <ng-container *ngFor="let validation of validate.getValidationsProperty().password">
        <span class="input_erorr"
          *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched || passError)">
          {{validation.message}}
        </span>
      </ng-container>
    </div>
    <div class="error_handl" *ngIf="(user$ | async).loading.error">
      <span>{{(user$ | async).loading.message}}</span>
    </div>
    <div class="form_container__form__buttons" *ngIf="!(user$ | async).loading.status">
      <button (click)="login(loginForm)" [disabled]="!loginForm.valid" >Войти </button>
      <button (click)="reparePassword()">Востановить пароль</button>
      <button (click)="singin()">Зарегистрироваться</button>
    </div>
    <div class="form_container__form__loading-cont" *ngIf="(user$ | async).loading.status">
      <div class="lds-dual-ring"></div>
    </div>
  </form>
</div>
