@import "../../../helpers/css/mixins";
.form_container{
    &__form{
        width: 300px;
        background: white;
        border-radius: 2px;
        box-shadow: 0 0 5px rgba(0, 0, 0, .3);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        &__email, &__password, &__name{
            position: relative;
            width: 100%;
            padding: 10px;
            input{
                width: inherit;
                background-color: transparent !important;
                border: 0;
                border-bottom: 2px solid #4e799f;
                outline: none;
                font-family: sans-serif;
                padding: 3px 0px 3px 10px;
            }
            .input_erorr{
                display: block;
                font-family: sans-serif;
                padding: 10px 10px 0px;
                display: inline-block;
                color: #f44336;
            }
        }
        .error_handl{
            span{
                font-family: sans-serif;
                color: #f44336;
            }
        }
        &__buttons{
            display: flex;
            width: 100%;
            flex-direction: column;
            padding: 10px;
            button{
                outline: none;
                border: 0;
                border-radius: 3px;
                padding: 10px;
                margin-top: 10px;
                background: #4e799f;
                text-align: center;
                color: white;
                font-family: sans-serif;
                box-shadow: 0 0 5px rgba(0, 0, 0, .3);
                cursor: pointer;
                &:active{
                    box-shadow: inset 0 0 5px white;
                }
                &[disabled]{
                    opacity: .5;
                }
            }
        }
        &__loading-cont{
            .lds-dual-ring {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 64px;
                height: 64px;
              }
              .lds-dual-ring:after {
                content: " ";
                display: block;
                width: 46px;
                height: 46px;
                margin: 1px;
                border-radius: 50%;
                border: 2px solid #fff;
                border-color: #4e799f transparent #4e799f transparent;
                animation: lds-dual-ring 1.2s linear infinite;
              }
        }
    }
}
