<div class="form_container">
  <form class="form_container__form" [formGroup]="signinForm">
    <div class="form_container__form__name">
      <input type="text" autocomplete="off" placeholder="Name" formControlName="name">
      <ng-container *ngFor="let validation of validate.getValidationsProperty().name">
          <span class="input_erorr"
            *ngIf="signinForm.get('name').hasError(validation.type) && (signinForm.get('name').dirty || signinForm.get('name').touched || nameError)">
            {{validation.message}}
          </span>
      </ng-container>
    </div>
    <div class="form_container__form__email">
      <input type="email" autocomplete="off" placeholder="Email" formControlName="email">
      <ng-container *ngFor="let validation of validate.getValidationsProperty().email">
        <span class="input_erorr"
          *ngIf="signinForm.get('email').hasError(validation.type) && (signinForm.get('email').dirty || signinForm.get('email').touched || emailError)">
          {{validation.message}}
        </span>
      </ng-container>
    </div>
    <div class="form_container__form__password">
      <input type="password" autocomplete="off" placeholder="Password" formControlName="password">
      <ng-container *ngFor="let validation of validate.getValidationsProperty().password">
        <span class="input_erorr"
          *ngIf="signinForm.get('password').hasError(validation.type) && (signinForm.get('password').dirty || signinForm.get('password').touched || passError)">
          {{validation.message}}
        </span>
      </ng-container>
    </div>
    <div class="form_container__form__password">
      <input type="password" autocomplete="off" placeholder="Password" formControlName="repassword">
      <ng-container *ngFor="let validation of validate.getValidationsProperty().confirm_password">
        <span class="input_erorr"
          *ngIf="signinForm.get('repassword').hasError(validation.type) && (signinForm.get('repassword').dirty || signinForm.get('repassword').touched || repassError)">
          {{validation.message}}
        </span>
      </ng-container>
    </div>
    <div class="error_handl" *ngIf="loading.error">
        <ng-container *ngIf="checkError(loading.message)">
          <span *ngFor="let val of loading.message">
            {{val.message}}
          </span>
        </ng-container>
        <span *ngIf="!checkError(loading)">{{loading.message}}</span>
    </div>
    <div class="form_container__form__buttons"  *ngIf="!loading.status">
      <button [disabled]="!signinForm.valid" (click)="signin(signinForm)">Регистрация</button>
    </div>
    <div class="form_container__form__loading-cont" *ngIf="loading.status">
        <div class="lds-dual-ring"></div>
    </div>
  </form>
</div>