.main{
    overflow: auto;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 75px;
    .post{
        display: flex;
        flex: 1 1 200px;
        flex-flow: column nowrap;
        overflow: hidden;
        min-width: 200px;
        max-width: 600px;
        margin: 30px;
        header{
            display: flex;
            flex-direction: column;
            .sections{
                padding: 4px;
                padding-left: 0;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                .section-name{
                    outline: none;
                    margin: 0 5px;
                    text-transform: uppercase;
                   &:hover{
                       text-decoration: underline;
                       color: #4e799f !important;
                       cursor: pointer;
                   }
                   &:nth-child(1){
                    margin-left: 0; 
                   }
                }
            }
            .title{
                outline: none;
                cursor: pointer;
                font-size: 24px;  
                font-family: 'Roboto', sans-serif;
                color: rgba(0,0,0,.84);
                margin: 4px;
                margin-left: 0;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        .content{
            overflow: hidden;
            height: fit-content;
            max-height: 150px;
            margin: 10px 0;
            span{
                color: rgba(0, 0, 0, .72);
                font-size: 18px;
                font-family: 'Roboto', sans-serif;
            }
        }
        footer{
            display: flex;
            flex-direction: column;
            .name{
                padding: 5px 0px;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                color: rgba(0,0,0,.84);
            }
            .data{
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                color: rgba(0,0,0,.84);
            }
        }
    }
}
.section-name{
    font-family: 'Roboto', sans-serif;
}
.section-name{
    color:rgba(0,0,0,.54)!important;
}
.section-name{
    font-size: 16px;
}