<div class="main" *ngIf="(posts$ | async).data">
  <ng-container *ngFor="let post of (posts$ | async).data">
    <div class="post">
      <header>
        <div class="sections">
            <ng-container *ngFor="let section of post.sections">
              <span [routerLink]="'/sections/' + section._id" class='section-name'>{{section.title}}</span>
            </ng-container>
        </div>  
        <span [routerLink]="'/post/' + post._id" class="title">{{post.title }}</span>
      </header>
      <footer>
        <span class="name" >{{post.creator.name}}</span>
        <span class="data">{{post.dateAdd | date}}</span>
      </footer>
    </div>
  </ng-container>
</div>
<app-paginator 
[data]="paginatorData"
[dispatch]="update"
[paginatorType]="paginatorType"
[emiter]="emiter"
></app-paginator>