<div class='container'>
  <div class="users">
      <h3>Users</h3>
    <div class="add-new">
      <button (click)="addUser()">Зарегистрировать пользователя</button>
    </div>
    <div class="edit-user">
      <div class="find-user">
        <div class="find-user__navigation">
            <span>Найти по email/name</span>
            <input #searchUserInput>
            <button (click)="findUser(searchUserInput.value)">Найти</button>
        </div>
        <div class="search-field">
          <div *ngFor="let user of (users$ | async)" class="user">
            <span>Имя: {{user.name}}</span>
            <span>Email: {{user.email}}</span>
            <span>Дата регистрации: {{user.registratinData | date}}</span>
            <span>Бан: {{user.status}} / Время: {{user.banTime | date}}</span>
            <button class='show-posts btn' (click)="showPosts(user._id)">Посты</button>
            <button class='show-comments btn' (click)="showComments(user._id)">Комментарии</button>
            <button class='ban btn' (click)="deleteUserData(user._id)">Бан</button>
          </div>
        </div>
        <div class="user-posts" *ngIf="(posts$ | async).length">
          <div *ngFor="let post of (posts$ | async);let postIndex = index" class="post">
            <span [routerLink]="'/post/' + post._id">{{post.title}}</span>
            <button class='delete-posts btn' (click)="deletePost(post._id, postIndex)">
              Удалить
            </button>
          </div>
        </div>
        <div class="user-comments" *ngIf="(comments$ | async).length">
          <div *ngFor="let commetn of (comments$ | async);let commentIndex = index" class="commetn">
            <span [routerLink]="'/post/' + commetn.postId">{{commetn.commetVal.content}}</span>
            <button class='delete-comment btn' (click)="deleteComment(commetn.commetVal._id, commentIndex)">
              Удалить
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sections">
    <div class="sections-container">
      <div *ngFor="let section of (sections$ | async)" class="section">
        <span>{{section.title}}</span>
        <button class="btn" (click)="activate(section._id)">Активировать</button>
      </div>
    </div>
    <div class="add-new-section">
      <div class='checkbox' (click)="sectionStatus = !sectionStatus">
          <mat-icon *ngIf="sectionStatus">done</mat-icon>
      </div>
      <input #newSectionInput>
      <button class="btn" (click)="saveNewSection(newSectionInput.value, newSectionInput)">Создать</button>
    </div>
  </div>
</div>

<div class='msg' [class.show]="showMsgCheck">
  <span>{{msg}}</span>
</div>