.container{
    min-width: 400px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    .sections{
        margin: 10px;
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;
        background: white;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
        .sections-container{
            margin: 10px;
            max-height: 300px;
            overflow: auto;
            .section{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                &:nth-child(odd){
                    background-color: rgba(0, 0, 0, 0.1);
                }
                span{
                    font-family: "Roboto";
                    color: #4e799f;
                    font-size: 16px;
                }
            }
        }
        .add-new-section{
            display: flex;
            margin: 10px;
            justify-content: space-around;
            align-items: flex-end;
            .checkbox{
                cursor: pointer;
                width: 30px;
                height: 30px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                border-radius: 15px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            input{
                outline: none;
                border: 0;
                border-bottom: 1px solid #4e799f;
                font-family: "Roboto";
                color: #4e799f;
                font-size: 16px;
            }
        }
    }
    .users{
        margin: 10px;
        flex: 1 1 45%;
        display: flex;
        flex-direction: column;
        background: white;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
        h3{
            text-align: center;
            font-family: 'Roboto'
        }
        .add-new{
            button{
                margin-left: 10px;
                flex: 1 1 30%;
                outline: none;
                border: 0;
                border-radius: 3px;
                padding: 10px;
                background: #4e799f;
                margin-top: 10px;
                text-align: center;
                color: white;
                font-family: sans-serif;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                cursor: pointer;
                &:active{
                    box-shadow: inset 0 0 5px white;
                }
                &[disabled]{
                    opacity: .5;
                }
            }
        }
        .edit-user{
            .find-user{
                margin: 10px;
                margin-top: 30px;
                &__navigation{
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    span{
                        font-family: "Roboto";
                        color: #4e799f;
                        font-size: 16px;
                    }
                    input{
                        outline: none;
                        border: 0;
                        border-bottom: 1px solid #4e799f;
                        font-family: "Roboto";
                        color: #4e799f;
                        font-size: 16px;
                    }
                    button{
                        outline: none;
                        border: 0;
                        border-radius: 3px;
                        padding: 10px;
                        background: #4e799f;
                        text-align: center;
                        color: white;
                        font-family: sans-serif;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                        cursor: pointer;
                        &:active{
                            box-shadow: inset 0 0 5px white;
                        }
                        &[disabled]{
                            opacity: .5;
                        }
                    }
                }
                .search-field{
                    min-height: 200px;
                    max-height: 200px;
                    overflow: auto;
                    margin-top: 10px;
                    border: 1px dashed;
                    .user{
                        min-height: 120px;
                        position: relative;
                        padding: 10px;
                        border-bottom: 1px dashed black;
                        display: flex;
                        flex-direction: column;
                        span{
                            font-family: "Roboto";
                            font-size: 14px;
                            padding: 5px 0;
                        }
                        .show-posts{
                            position: absolute;
                            top: 5px;
                            right: 10px;
                        }
                        .show-comments{
                            position: absolute;
                            top: 50px;
                            right: 10px;
                        }
                        .ban{
                            position: absolute;
                            top: 95px;
                            right: 10px;
                        }
                    }
                }
                .user-posts{      
                    .post{
                      span{
                            font-family: "Roboto";
                            font-size: 14px;
                            text-transform: uppercase;
                            cursor: pointer;
                            &:hover{
                                text-decoration: underline;
                                color: #4e799f;
                            } 
                        }
                        .delete-posts{
                            position: absolute;
                            right: 10px;
                        }
                        &:last-child{
                            border: 0 !important;
                        }
                    }
                }
                .user-comments{
                    .commetn{
                        span{
                            outline: none;
                            font-family: "Roboto";
                            font-size: 14px;
                            text-transform: uppercase;
                            cursor: pointer;
                            &:hover{
                                text-decoration: underline;
                                color: #4e799f;
                            } 
                        }
                        .delete-comment{
                            position: absolute;
                            right: 10px;
                        }
                        &:last-child{
                            border: 0 !important;
                        }
                    }
                }
            }
        }
    }
}
.btn{
    min-width: 130px;
    outline: none;
    border: 0;
    border-radius: 3px;
    padding: 10px;
    background: #4e799f;
    text-align: center;
    color: white;
    font-family: sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    &:active{
        box-shadow: inset 0 0 5px white;
    }
    &[disabled]{
        opacity: .5;
    }
}

.user-posts, .user-comments{
    min-height: 200px;
    max-height: 200px;
    overflow: auto;
    margin-top: 10px;
    border: 1px dashed;
}
.post, .commetn{
    min-height: 80px;
    position: relative;
    padding: 10px;
    border-bottom: 1px dashed black;
    display: flex;
    flex-direction: column;
}

.msg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: -200px;
    width: fit-content;
    padding: 20px 20px;
    background: black;
    span{
        color: white;
        font-family: 'Roboto';
        font-size: 24px;
        font-weight: 900;
    }
}
.show{
    bottom: 20px;
}